@using Romontinka.Server.WebSite.Controllers
@{
    ViewBag.Title = "Описание складского учета";
}
<article>
    <h1>Слады</h1>
    <p>
        Система <strong>Ремборд</strong> поддерживает многоскладовую структуру предприятия. Администратор может завести склад, выбрав в меню пункт @Html.ActionLink("склады", "index", WarehouseController.ControllerName, null, new { title="Перейти к созданию склада" })  и нажав на кнопку "Создать" в верхней рабочей области.
    </p>
    <figure>
    <img src="~/Content/img/createWarehouse.png" alt="Склад"/>
        <figcaption>
        Создание склада
        </figcaption>
    </figure> 
    <p>
        На данной странице можно указать номенклатуру товаров, которые предполагается хранить на складе, а также их категории. Кроме того, пользователю будет доступна вкладка "Контрагенты", в которой необходимо указать основных поставщиков товаров на склад.
    </p>
    <p>
        Узнать о текущем состоянии товаров на складе можно через пункт меню @Html.ActionLink("складские остатки", "index", WarehouseItemController.ControllerName, null, new { title="Перейти к складским остаткам" }). Здесь для пользователя доступен фильтр- поиск по конкретному складу и наименованию интересующей номенклатуры.
        <p>
        Каждая товарная позиция включает в себя следующие атрибуты:
        </p>
    </p>
    <ol>
        <li><em>Наименование</em> - название номенклатуры товара</li>
        <li><em>Количество</em> - текущее количество товаров на складе</li>
        <li><em>Нулевая цена</em> - цена, от которой происходит увеличение стоимости (пока не используется, можно указывать 0) </li>
        <li><em>Ремонтная цена</em> - цена детали в процессе замены при ремонте</li>
        <li><em>Цена продажи</em> - пока не искользуется, можно указывать 0</li>
    </ol>
    <p>Администратор имеет доступ только к редактированию текущего ценового диапазона у каждой из позиций товара.</p>
    <h1>Управление товарами</h1>
    <p>
        Все действия по изменению количества и наличия товаров на складе регламентируются соответствующими документами. Другими словами, чтобы добавить или удалить товары со склада нужно заводить в системе накладную и прописывать в ней их номенклатуру и количество. 
        Чтобы получить доступ к данной системе необходимо выбрать в меню пункт @Html.ActionLink("склады", "index", WarehouseDocsController.ControllerName, null, new { title = "Перейти к управляющим документам" })
        Каждый документ может быть в "проведенном" и "непроведенном" состоянии. Это означает, что пользователь создает накладную и начинает ее наполнять товарами с возможностью их изменения и удаления до тех пор, пока не нажмет на кнопку "Провести документ". С этого момента 
        система считает все записи и обновит текущее состояние склада. Непроведенный документ в общем списке отображается красным цветом, а в детализации у него видна кнопка "Провести документ".
    </p>
    <h1>Приходные накладные</h1>
    <p>
        Для добавления товаров на склад используются приходные накладные, полный их список находится в соответствующей вкладке. Для примера можно создать этот документ
    </p>
     <figure>
    <img src="~/Content/img/createIncomingDoc.png" alt="Приходная накладная"/>
        <figcaption>
        Создание приходной накладной
        </figcaption>
     </figure> 
    <p>После создания накладная сразу выделяется красным цветом, что говорит о возможности её редактировния без прямого внесения изменений на склад.
        Для доступа к функции внесения пунктов номенклатуры документа необходимо нажать на кнопку детализации, в результате чего появится таблица, указанная на рисунке ниже.
    </p>
     <figure>
        <img src="~/Content/img/showIncomingDocDetails.png" alt="Детализация накладной"/>
        <figcaption>
        Детализация приходной накладной
        </figcaption>
     </figure> 
    <p>
        Особое внимание необходимо обратить на появление двух кнопок - "Провести накладную" и "Сформировать документ". Первая отвечает за немеделенное отражение пунктов накладной в обозначенном складе, а вторая выводит документ с общими итогами по накладной.
    </p>
    <p>
        Для добавления в накладную товаров необходимо нажать на кнопку "Создать" и ввести информацию о поступлении на склад. Наряду с ценовыми позициями, описанными выше, в данном окне присутствует дополнительно атрибут- Цена закупки.
        Следует учесть, что если любую из позиций цен на поступающий товар оставить нулевой, то в основном перечне остатков данного товара на складе цена останется прежней.
    </p>
    <figure>
        <img src="~/Content/img/createIncomingDocDetails.png" alt="Добавление товаров в накладную"/>
        <figcaption>
            Добавление товаров в накладную
        </figcaption>
    </figure> 
    <p>Итоговую сумму и количество добавленых товаров можно посмотреть, нажав на кнопку "Сформировать накладную"</p>
    <figure>
        <img src="~/Content/img/createIncomingDocDetailsReport.png" alt="Отчет товаров в накладной"/>
        <figcaption>
            Общий отчет по накладной
        </figcaption>
    </figure> 
    <p>
        Для вступления в силу изменений, внесённых в раздел Складские остатки, необходимо нажать кнопку "Провести накладную". С этого момента внесённые изменения станут необратимы и добавленные позиции отобразятся в  @Html.ActionLink("складских остатках", "index", WarehouseItemController.ControllerName, null, new { title = "Перейти к складским остаткам" }).
    </p>
    <figure>
        <img src="~/Content/img/warehouseItems1.png" alt="Складские остатки"/>
        <figcaption>
            Складские остатки после проведения накладной
        </figcaption>
    </figure>
    <p>Если теперь пользователь попытается внести изменения в документ, появится предупреждение о невозможности правок.</p>
    <h1>
        Списание товаров
    </h1>
    <p>
        Чтобы списать определенное количество товара со склада в системе предусмотрен механизм документов списания (вкладка "Списания"). Как и в случае с приходными накладными необходимо создать документ и заполнить все пункты товаров и их количество.
    </p>
    <figure>
        <img src="~/Content/img/cancelingDoc.png" alt="Списание"/>
        <figcaption>
            Пример списания товара
        </figcaption>
    </figure>
    <p>После нажатия кнопки "Провести списание" на складе применятся необратимые изменения количества указанного товара и документ станет недоступен для любых правок.</p>
    <figure>
        <img src="~/Content/img/warehouseItems2.png" alt="Складские остатки"/>
        <figcaption>
            Складские остатки после списания
        </figcaption>
    </figure>
    <h1>Перемещение товара</h1>
    <p>Довольно часто возникает необходимость переместить товар со склада на склад, для этих целей система использует документы перемещения. Аналогично описываемым 
        выше документам данный вид накладных имеет тот же набор полей, однако в них необходимо указывать передающий и принимающий склад.
    </p>
    <figure>
        <img src="~/Content/img/transferDoc.png" alt="Перемещение"/>
        <figcaption>
            Пример перемещения товара.
        </figcaption>
    </figure>
    <p>После проведения документа изменения затронут два склада, что можно увидеть на рисунке ниже.</p>
    <figure>
        <img src="~/Content/img/warehouseItems3.png" alt="Складские остатки"/>
        <figcaption>
            Складские остатки после перемещения товара
        </figcaption>
    </figure>
    <h1 id="useWarehouseItem">Использование деталей со склада в задачах</h1>
    <p>
        В системе <strong>Ремборд</strong> есть опциональная возможность выбирать детали со склада в формах привязки запчастей в задачах. Визуально процесс привязки к складскому хранилищу выглядит следующим образом.
        При нажатии кнопки "Создать" в таблице запчастей заказа возникает окно со следующими полями:
    </p>
     <figure>
        <img src="~/Content/img/createDeviceItem.png" alt="Создания запчасти"/>
        <figcaption>
            Форма создания использованной детали
        </figcaption>
    </figure>
    
    <p>
        Для выбора запчасти со склада необходимо открыть окно поиска в складских остатках. В нем для получения списка необходимо указать конкретный склад, в котором будет производиться поиск.
    </p>
    
    <figure>
        <img src="~/Content/img/selectWarehouseItem.png" alt="Поиск в складских остатках"/>
        <figcaption>
            Форма поиска запчастей
        </figcaption>
    </figure>
    
    <p>
        После выбора детали со склада с её формы создания автоматически удалятся три поля - "Наименование запчасти", "Себестоимость", "Цена", т.к. они будут браться из данных об аналогичных запчастях, присутствующих на складе. Пользователю останется указать общее количество деталей и сохранить заказ.
        
    </p>
    
    <figure>
        <img src="~/Content/img/createDeviceItem2.png" alt="Создания запчасти"/>
        <figcaption>
            Форма с выбранной запчастью из склада
        </figcaption>
    </figure>
    
    <p>Если же возникнет необходимость указать деталь без списания со склада, в таком случае пользователю нужно очистить поле ввода "Деталь со склада", нажав кнопку удаления выбора, при этом снова станут доступны поля с характеристиками запчастей.</p>
    <figure>
        <img src="~/Content/img/createDeviceItem3.png" alt="Создания запчасти"/>
        <figcaption>
            Форма создания запчасти без привязки к складу
        </figcaption>
    </figure>

    <h1>Складские отчеты</h1>
    <p>Чтобы увидеть полный список документов, создаваемых ранее для данного склада, и список задач, к которым привязывались детали со склада,  можно использовать @Html.ActionLink("отчет по приходу и расходу на складе", "Index", WarehouseFlowReportController.ControllerName, null, new {title="Перейти к отчету" }) , внешний вид которого представлен ниже.</p>
    <figure>
        <img src="~/Content/img/WarehouseFlowReport.png" alt="Отчет"/>
        <figcaption>
            Пример отчета по примененным документам на складе за определенный период
        </figcaption>
    </figure>
</article>