@using Romontinka.Server.WebSite.Models
@using Romontinka.Server.WebSite.Models.Account
@model ChangePasswordModel

@using (Html.BeginForm())
{

    <fieldset>
        <legend><h1>Поменяйте пароль с помощью следующих полей</h1></legend>
        
                <div class="loginRow">
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
                <div class="loginRow">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
                 </div>
                <div class="loginRow">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)                
            </div>
            <div class="loginRow">
            <input type="submit" value="Сменить" class="btn"/>
        </div>
    </fieldset>
   
}